* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #111;
    padding: 20px 0;
}

.title {
    font-size: 2.5em;
    text-align: center;
}

.controls {
    margin-bottom: 20px;
    text-align: center;
}

.controls button {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin-bottom: 20px;
    background-color: #1E1E1E;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-content {
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.show-info {
    padding: 20px;
}

.show-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.show-info p {
    margin: 0;
    font-size: 1em;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
}
